<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redirecting</title>
  </head>
  <body>
    <h1>Youre being redirected...</h1>
    <p>
      You think It will automatically redirect to the url?!! How lucky of you <br />
      Now I dont have plenty of time click this &rarr;
      <a href="<%= url %>"><%= url %></a>
    </p>
  </body>
</html>
